# Gradle
.gradle/
build/
bin/
gradle/caches/
gradle/wrapper/gradle-wrapper.jar
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/
*.code-workspace

# Operating System Files
.DS_Store
Thumbs.db

# Publishing & Secrets
publishing.properties
*.local.properties
